#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo  
  expire: False

users:
  - name: agustinrodriguez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDAiXUBn69BQ4191w3/PIAz3XTbnJQuLyo0oIx5yJEoo07s7DoxBd3vL7V6lNR7WcI+S9a8uFOg50z4USRBPShdYn7CaBVV2tnUv7Q+/x9e8P8DA4K2a/lFA58poPHcFLoyYrE+NQCk9AWP/iGyGSPSkM0o1rkP15BHp7yWXTLZ/KjmWQwpDWZzO/9D1Raw9DZmoj4oFRvyiExMXh3uvWayvYQGqeAC+yUtiLlG8DZWaMqr19yYF23kR+U92ggU4lT9chZWhb+gvWSFucyYclOru6yprk9iWVETAwHLDsaPIDqmZmK6VhQcxAKOxqdTWVAy25oe3nxSOr39Wx5Z4TRKaM+G/wU7VqDn1K/xBbkvhoLesFzED9CR/mPxDJCAKQCXItJDCpY+IIeGs2O8j6vxOL+BKzFzkcH4ZZ1VsuYIxe8G/YpCVkcCu3jSukSe0ACfhZyLwbcBMe16htVLvVSkg1u5Cj3FJzGOfqgm4Akrshk2VCySomEC/pFqxDC+Nrs= agustin@agustinrodriguez
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
